<div class="container">
  <div class="card my-4">
    <div class="card-header bg-warning rounded">
      <h1 class="text-light text-center">Stripe Transactions:</h1>
    </div>
  </div>
  <table class="table table-bordered table-warning table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <% if current_user.admin_role? %>
          <th scope="col">Customer</th>
        <% end %>
        <th scope="col">Date</th>
        <th scope="col">Country</th>
        <th scope="col">Status</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Currency</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <% no = 0 %>
      <% @stripe_transactions.order(:date).each do |st| %>
        <!-- Button trigger modal -->
        <% no+=1 %>
        <tr data-bs-toggle="modal" data-bs-target="#<%= "order_#{no}" %>">
          <th scope="row"><%= no %></th>
          <% if current_user.admin_role? %>
            <th scope="col"><%= st.user.name %></th>
          <% end %>
          <td><%= st.date %></td>
          <td><%= st.card_country %></td>
          <td><%= st.status%></td>
          <td><%= "#{st.card_brand} - #{st.card_funding}" %></td>
          <td><%= st.currency %></td>
          <td>$<%= (st.amount / 100).to_f%></td>
        </tr>
      <% end %>
      <% if @stripe_transactions.empty? %>
        <div class="alert alert-warning">There are not any stripe transactions</div>
      <% end %>
    </tbody>
  </table>
  <% no = 0 %>
  <% @stripe_transactions.each do |st| %>
    <!-- Button trigger modal -->
    <% no+=1 %>
    <!-- Modal -->
    <div class="modal fade" id="<%= "order_#{no}" %>" tabindex="-1" aria-labelledby="<%= "order_#{no}" %>Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:50vw;max-width:50vw">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="<%= "order_#{no}" %>Label">   <%= st.user.name %>   <%= st.date %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered table-warning table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <% no1 = 0 %>
                <% st.stripe_transaction_lines.each do |stl| %>
                  <!-- Button trigger modal -->
                  <% no1+=1 %>
                  <tr>
                    <th scope="row"><%= no1 %></th>
                    <td><%= stl.product.name %></td>
                    <td><%= stl.quantity %></td>
                    <td><%= stl.total %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Go Back To Stripe Transaction History</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
