<div class="g-col-4">
  <div class="card my-3 bg-info">
    <div class="card-header">
      <%= link_to product do%><h3><%= product.name %></h3><% end %>
    </div>
    <div class="card-body">
      <h4 class="ms-5">Details:</h4>
      <div class="d-flex justify-content-evenly">
        <p class="text-center fs-4">Price: <%= product.price.to_f %></p>
        <p class="text-center fs-4"><%= product.stock %> left</p>
      </div>
    </div>
    <div class="card-footer text-center">
    <% if user_signed_in? && current_user.admin_role? %>
      <%= link_to 'EDIT', edit_product_path(product), class:'btn btn-primary'%>
      <%= link_to 'DELETE', product,method: :delete, class:'btn btn-danger'%>
    <% else %>
      <%= form_with(url: product_line_items_path(product), method: :post) do |f| %>
        <div class="form-inputs m-3">
          <%= f.number_field :quantity, value: 1, min: 1, class:'text-center w-25 mx-3'%>
          <%= f.submit "ADD TO CARD", class:'btn btn-primary', data: { disable_with: false,confirm: "Add #{product.name} to cart?" }%>
        </div>
      <% end %>
    <% end %>
    <% if user_signed_in? && !current_user.admin_role? %>
      <% if product.liked?(current_user) %>
        <%= link_to product_like_path(product),method: :delete do%><i class="fas fa-heart" style="color:red;font-size:2em;"></i><% end %>
      <% else %>
        <%= link_to product_like_path(product),method: :post do%><i class="fas fa-heart" style="color:white;font-size:2em;"></i><% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
