<div class="container">
  <div class="card my-4">
    <div class="card-header bg-info rounded">
      <h1 class="text-light text-center">Products:
      <% if user_signed_in? && current_user.admin %>
        <%= link_to 'CREATE PRODUCT', new_product_path, class:'btn btn-warning'%>
      <% end %>
      </h1>
    </div>
  </div>
  <div class="grid">
    <% @products.each do |p| %>
      <div class="g-col-4">
        <div class="card my-3 bg-info">
          <div class="card-header">
            <h3><%= p.name %></h3>
          </div>
          <div class="card-body">
            <h4 class="ms-5">Details:</h4>
            <div class="d-flex justify-content-evenly">
              <p class="text-center fs-4">Price: <%= p.price.to_f %></p>
              <p class="text-center fs-4"><%= p.stock %> left</p>
            </div>
          </div>
          <div class="card-footer text-center">
          <% if user_signed_in? && current_user.admin %>
            <%= link_to 'EDIT', edit_product_path(p), class:'btn btn-primary'%>
            <%= link_to 'DELETE', p,method: :delete, class:'btn btn-danger'%>
          <% else %>
            <%= link_to "ADD TO CARD", add_to_cart_product_path(p), method: :post, class:'btn btn-primary'%>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
