<div class="container">
  <div class="card my-4">
    <div class="card-header bg-info rounded">
      <h1 class="text-light text-center">Products:
      <% if user_signed_in? && current_user.admin_role? %>
        <%= link_to 'CREATE PRODUCT', new_product_path, class:'btn btn-warning'%>
      <% end %>
      </h1>
    </div>
    <div class="d-flex justify-content-center">
      <%= form_with(url: products_path, method: :get) do |f| %>
        <div class="form-inputs m-3">
          <%= f.label :search_key, "Search:" %>
          <%= f.text_field :search_key, autofocus: true %>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-around">
      <%= link_to 'Most Popular', products_path(order_by_popular:true) , class:'btn btn-warning'%>
      <%= link_to 'Least Popular', products_path(order_by_popular:false) , class:'btn btn-warning'%>
      <%= link_to 'Order by Name ASC', products_path(order_by_name:false) , class:'btn btn-warning'%>
      <%= link_to 'Order by Name DESC', products_path(order_by_name:true) , class:'btn btn-warning'%>
    </div>
    <div class="d-flex justify-content-center">
      <%= form_with(url: products_path, method: :get) do |f| %>
        <div class="form-inputs m-3">
          <%= f.label :tag, "Tag:" %>
          <%= f.collection_select :tag, Tag.all.order(:name), :id, :name%>
          <%= f.submit 'Search by Tag', class:'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="grid">
    <%= render @products %>
  </div>
</div>
